input{
    width: 100%;
    padding: 18px;
    border: 1px solid lightgreen;
    border-radius: 12px;
    font-size: 16px;
    margin-bottom: 12px;
}
.newsletter-container{
    width: 400px;
    margin:20px auto;
    text-align: left;
}
.newsletter-btn{
    background-color: black;
    color: white;
    margin: 0;
    padding: 14px 26px;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}